@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    /*background-image: linear-gradient(to bottom, rgb(229, 229, 229), white);*/
    /*background-repeat: no-repeat;*/
}

*:focus {
    outline: none;
}

.bg-image {
    background-repeat: no-repeat;
    background-position: 50%;
}